# Mito

In [ ]:
!pip install mitoinstaller

In [ ]:
import mitosheet
mitosheet.sheet()

ModuleNotFoundError: ignored

# Importing

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mlp
from datetime import datetime
%matplotlib inline

In [ ]:
df = pd.read_csv('RELIANCE.csv')

In [ ]:
df.head()

                        date     open     high      low    close  volume
0  2021-03-01 09:15:00+05:30  2110.20  2111.90  2093.00  2093.00  258626
1  2021-03-01 09:16:00+05:30  2092.35  2097.85  2088.80  2096.75  120495
2  2021-03-01 09:17:00+05:30  2097.50  2097.50  2091.10  2095.20   60153
3  2021-03-01 09:18:00+05:30  2095.75  2098.80  2095.75  2097.20   35057
4  2021-03-01 09:19:00+05:30  2097.00  2102.15  2096.80  2102.15   40434

In [ ]:
df.shape

(35805, 6)

In [ ]:
df

                              open     high      low    close  volume
date
2021-03-01 09:15:00+05:30  2110.20  2111.90  2093.00  2093.00  258626
2021-03-01 09:16:00+05:30  2092.35  2097.85  2088.80  2096.75  120495
2021-03-01 09:17:00+05:30  2097.50  2097.50  2091.10  2095.20   60153
2021-03-01 09:18:00+05:30  2095.75  2098.80  2095.75  2097.20   35057
2021-03-01 09:19:00+05:30  2097.00  2102.15  2096.80  2102.15   40434
...                            ...      ...      ...      ...     ...
2021-07-20 12:10:00+05:30  2088.40  2088.40  2087.10  2087.15    4951
2021-07-20 12:11:00+05:30  2087.10  2087.70  2085.65  2086.90   19915
2021-07-20 12:12:00+05:30  2086.40  2087.35  2085.25  2085.25    9461
2021-07-20 12:13:00+05:30  2085.05  2086.25  2084.00  2086.25   17818
2021-07-20 12:14:00+05:30  2085.70  2088.00  2085.70  2087.20    4438

[35805 rows x 5 columns]

In [ ]:
df.isna().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [ ]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [date, open, high, low, close, volume]
Index: []

# SMA

In [ ]:
sma_20 = df['close'].rolling(20).mean()

In [ ]:
sma_20

date
2021-03-01 09:15:00+05:30          NaN
2021-03-01 09:16:00+05:30          NaN
2021-03-01 09:17:00+05:30          NaN
2021-03-01 09:18:00+05:30          NaN
2021-03-01 09:19:00+05:30          NaN
                               ...
2021-07-20 12:10:00+05:30    2089.7100
2021-07-20 12:11:00+05:30    2089.4550
2021-07-20 12:12:00+05:30    2089.1575
2021-07-20 12:13:00+05:30    2088.9200
2021-07-20 12:14:00+05:30    2088.7700
Name: close, Length: 35805, dtype: float64

In [ ]:
plt.figure(figsize = (12,6))
plt.plot(df['high'], label="High Price")
plt.plot(sma_20, label="20-Days SMA")
plt.xlabel("Date")
plt.ylabel("Price")
plt.legend()
plt.show()

# WMA

In [ ]:
df['close'].rolling(period=20).apply(weight)

In [ ]:
weights = np.arange(1,11)

In [ ]:
weights

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:

weighted = []
for i in range(len(df)):
  total = np.arange(1, period + 1, 1)
  matrix = df[i - 20 + 1: i +1, 3:4]
  matrix = np.ndarray.flatten(matrix)
  matrix = total * matrix
  wma = (matrix.sum()) / (total.sum())
  weighted = np.append(weighted, wma)

In [ ]:
weightedMovingAvg(df, 20)

TypeError: ignored

# Exponential Moving Average (EMA)

In [ ]:
ema_20 = df['high'].ewm(span=20).mean()

In [ ]:
ema_20.head()

0    2111.900000
1    2104.523750
2    2101.944671
3    2101.036853
4    2101.306114
Name: high, dtype: float64

In [ ]:
ema_20

0        2111.900000
1        2104.523750
2        2101.944671
3        2101.036853
4        2101.306114
            ...
35800    2090.202163
35801    2089.963861
35802    2089.714922
35803    2089.384930
35804    2089.253032
Name: high, Length: 35805, dtype: float64

In [ ]:
acc_ema = df['high'].copy()
acc_ema.iloc[0:20] = sma_20[0:20]

In [ ]:
acc_ema

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
35800    2088.40
35801    2087.70
35802    2087.35
35803    2086.25
35804    2088.00
Name: high, Length: 35805, dtype: float64

# Rolling Moving Average

In [ ]:
rma_20 = df['close'].ewm(alpha = 1.0/20).mean()

In [ ]:
rma_20

date
2021-03-01 09:15:00+05:30    2093.000000
2021-03-01 09:16:00+05:30    2094.923077
2021-03-01 09:17:00+05:30    2095.020158
2021-03-01 09:18:00+05:30    2095.607736
2021-03-01 09:19:00+05:30    2097.053738
                                ...
2021-07-20 12:10:00+05:30    2090.489542
2021-07-20 12:11:00+05:30    2090.310065
2021-07-20 12:12:00+05:30    2090.057061
2021-07-20 12:13:00+05:30    2089.866708
2021-07-20 12:14:00+05:30    2089.733373
Name: close, Length: 35805, dtype: float64

# Moving average convergence divergence (MACD)

In [ ]:
exp1 = df['close'].ewm(span=12, adjust=False).mean()
exp2 = df['close'].ewm(span=26, adjust=False).mean()

In [ ]:
macd = exp1-exp2

In [ ]:
macd

date
2021-03-01 09:15:00+05:30    0.000000
2021-03-01 09:16:00+05:30    0.299145
2021-03-01 09:17:00+05:30    0.406463
2021-03-01 09:18:00+05:30    0.645455
2021-03-01 09:19:00+05:30    1.220216
                               ...
2021-07-20 12:10:00+05:30   -1.009154
2021-07-20 12:11:00+05:30   -1.083374
2021-07-20 12:12:00+05:30   -1.260802
2021-07-20 12:13:00+05:30   -1.305671
2021-07-20 12:14:00+05:30   -1.250163
Name: close, Length: 35805, dtype: float64

# Relative Strength Index

In [ ]:
periods = 14

close_delta = df['close'].diff()

up = close_delta.clip(lower=0)
down = -1 * close_delta.clip(upper=0)

ma_up = up.ewm(com = periods -1, adjust=True, min_periods = periods).mean()
ma_down = down.ewm(com = periods -1, adjust=True, min_periods = periods).mean()
rsi = ma_up / ma_down
rsi = 100- (100/(1+rsi))

In [ ]:
rsi

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
35800    37.290692
35801    36.428591
35802    31.287481
35803    37.082889
35804    42.080699
Name: close, Length: 35805, dtype: float64

# Bollinger Band

In [ ]:
sma_20
std = df['close'].rolling(20).std()
bollinger_up = sma_20 + std *2
bollinger_down = sma_20 -std *2

In [ ]:
bollinger_up

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
35800    2093.378430
35801    2093.169728
35802    2093.361597
35803    2093.202244
35804    2093.073389
Length: 35805, dtype: float64

In [ ]:
bollinger_down

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
35800    2087.596570
35801    2087.290272
35802    2086.623403
35803    2086.222756
35804    2086.041611
Length: 35805, dtype: float64

#Appending Frames

In [ ]:
df['SMA'] = sma_20

In [ ]:
df['EMA'] = ema_20

In [ ]:
df['RMA'] = rma_20

In [ ]:
df['MACD'] = macd

In [ ]:
df['rsi'] = rsi

In [ ]:
df['Bollinger Up'] = bollinger_up
df['Bollinger Down'] = bollinger_down

# Export df

In [ ]:
df.to_csv('reliance_ma.csv',index=False)

# Candle Conversion

In [ ]:
df.head()

                        date     open     high      low    close    volume
0  2021-03-01 09:15:00+05:30  2110.20  2111.90  2093.00  2093.00  258626.0
1  2021-03-01 09:16:00+05:30  2092.35  2097.85  2088.80  2096.75  120495.0
2  2021-03-01 09:17:00+05:30  2097.50  2097.50  2091.10  2095.20   60153.0
3  2021-03-01 09:18:00+05:30  2095.75  2098.80  2095.75  2097.20   35057.0
4  2021-03-01 09:19:00+05:30  2097.00  2102.15  2096.80  2102.15   40434.0

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['date'].dt.date

0        2021-03-01
1        2021-03-01
2        2021-03-01
3        2021-03-01
4        2021-03-01
            ...
35800    2021-07-20
35801    2021-07-20
35802    2021-07-20
35803    2021-07-20
35804    2021-07-20
Name: date, Length: 35805, dtype: object

In [ ]:
df.time = pd.to_datetime(df.date, format="%Y%m%d%H%M")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [ ]:
df = df.set_index("date")

In [ ]:
t = df.groupby(pd.Grouper(freq='15Min', origin='09:15:00+05:30')).agg({"open": "first", 
                                             "close": "last", 
                                             "low": "min", 
                                             "high": "max"})
t.columns = ["open", "close", "low", "high"]
print(t)

                              open    close      low     high
date
2021-03-01 09:15:00+05:30  2110.20  2101.35  2088.80  2111.90
2021-03-01 09:30:00+05:30  2101.40  2100.60  2096.05  2105.60
2021-03-01 09:45:00+05:30  2102.00  2096.35  2091.30  2103.00
2021-03-01 10:00:00+05:30  2096.20  2089.00  2087.60  2102.00
2021-03-01 10:15:00+05:30  2089.85  2097.00  2089.85  2098.00
...                            ...      ...      ...      ...
2021-07-20 11:00:00+05:30  2098.15  2089.60  2085.35  2099.95
2021-07-20 11:15:00+05:30  2089.60  2092.25  2087.95  2094.40
2021-07-20 11:30:00+05:30  2092.45  2091.10  2090.00  2094.70
2021-07-20 11:45:00+05:30  2091.00  2090.50  2088.15  2093.75
2021-07-20 12:00:00+05:30  2090.40  2087.20  2084.00  2090.50

[13548 rows x 4 columns]

In [ ]:
t.isna().sum()

open     0
close    0
low      0
high     0
dtype: int64

In [ ]:
t.dropna(inplace=True)

In [ ]:
t.to_csv('reliance_15M.csv')

In [ ]:
t.head()

                              open    close      low    high
date
2021-03-01 09:15:00+05:30  2110.20  2101.35  2088.80  2111.9
2021-03-01 09:30:00+05:30  2101.40  2100.60  2096.05  2105.6
2021-03-01 09:45:00+05:30  2102.00  2096.35  2091.30  2103.0
2021-03-01 10:00:00+05:30  2096.20  2089.00  2087.60  2102.0
2021-03-01 10:15:00+05:30  2089.85  2097.00  2089.85  2098.0

# Candle Conversion 25M

In [ ]:
s1 = pd.to_datetime(df['date'])

In [ ]:
s1 = s1.dt.date

In [ ]:
s1

0        2021-03-01
1        2021-03-01
2        2021-03-01
3        2021-03-01
4        2021-03-01
            ...
35800    2021-07-20
35801    2021-07-20
35802    2021-07-20
35803    2021-07-20
35804    2021-07-20
Name: date, Length: 35805, dtype: object

In [ ]:
df

                           date     open     high      low    close  volume
0     2021-03-01 09:15:00+05:30  2110.20  2111.90  2093.00  2093.00  258626
1     2021-03-01 09:16:00+05:30  2092.35  2097.85  2088.80  2096.75  120495
2     2021-03-01 09:17:00+05:30  2097.50  2097.50  2091.10  2095.20   60153
3     2021-03-01 09:18:00+05:30  2095.75  2098.80  2095.75  2097.20   35057
4     2021-03-01 09:19:00+05:30  2097.00  2102.15  2096.80  2102.15   40434
...                         ...      ...      ...      ...      ...     ...
35800 2021-07-20 12:10:00+05:30  2088.40  2088.40  2087.10  2087.15    4951
35801 2021-07-20 12:11:00+05:30  2087.10  2087.70  2085.65  2086.90   19915
35802 2021-07-20 12:12:00+05:30  2086.40  2087.35  2085.25  2085.25    9461
35803 2021-07-20 12:13:00+05:30  2085.05  2086.25  2084.00  2086.25   17818
35804 2021-07-20 12:14:00+05:30  2085.70  2088.00  2085.70  2087.20    4438

[35805 rows x 6 columns]

In [ ]:
s1 = s1.drop_duplicates(keep='first', inplace=False)

In [ ]:
s1.shape

(96,)

In [ ]:
s1 = s1.to_numpy()

In [ ]:
s1

array([datetime.date(2021, 3, 1), datetime.date(2021, 3, 2),
       datetime.date(2021, 3, 3), datetime.date(2021, 3, 4),
       datetime.date(2021, 3, 5), datetime.date(2021, 3, 8),
       datetime.date(2021, 3, 9), datetime.date(2021, 3, 10),
       datetime.date(2021, 3, 12), datetime.date(2021, 3, 15),
       datetime.date(2021, 3, 16), datetime.date(2021, 3, 17),
       datetime.date(2021, 3, 18), datetime.date(2021, 3, 19),
       datetime.date(2021, 3, 22), datetime.date(2021, 3, 23),
       datetime.date(2021, 3, 24), datetime.date(2021, 3, 25),
       datetime.date(2021, 3, 26), datetime.date(2021, 3, 30),
       datetime.date(2021, 3, 31), datetime.date(2021, 4, 1),
       datetime.date(2021, 4, 5), datetime.date(2021, 4, 6),
       datetime.date(2021, 4, 7), datetime.date(2021, 4, 8),
       datetime.date(2021, 4, 9), datetime.date(2021, 4, 12),
       datetime.date(2021, 4, 13), datetime.date(2021, 4, 15),
       datetime.date(2021, 4, 16), datetime.date(2021, 4, 19),
       datetime.date(2021, 4, 20), datetime.date(2021, 4, 22),
       datetime.date(2021, 4, 23), datetime.date(2021, 4, 26),
       datetime.date(2021, 4, 27), datetime.date(2021, 4, 28),
       datetime.date(2021, 4, 29), datetime.date(2021, 4, 30),
       datetime.date(2021, 5, 3), datetime.date(2021, 5, 4),
       datetime.date(2021, 5, 5), datetime.date(2021, 5, 6),
       datetime.date(2021, 5, 7), datetime.date(2021, 5, 10),
       datetime.date(2021, 5, 11), datetime.date(2021, 5, 12),
       datetime.date(2021, 5, 14), datetime.date(2021, 5, 17),
       datetime.date(2021, 5, 18), datetime.date(2021, 5, 19),
       datetime.date(2021, 5, 20), datetime.date(2021, 5, 21),
       datetime.date(2021, 5, 24), datetime.date(2021, 5, 25),
       datetime.date(2021, 5, 26), datetime.date(2021, 5, 27),
       datetime.date(2021, 5, 28), datetime.date(2021, 5, 31),
       datetime.date(2021, 6, 1), datetime.date(2021, 6, 2),
       datetime.date(2021, 6, 3), datetime.date(2021, 6, 4),
       datetime.date(2021, 6, 7), datetime.date(2021, 6, 8),
       datetime.date(2021, 6, 9), datetime.date(2021, 6, 10),
       datetime.date(2021, 6, 11), datetime.date(2021, 6, 14),
       datetime.date(2021, 6, 15), datetime.date(2021, 6, 16),
       datetime.date(2021, 6, 17), datetime.date(2021, 6, 18),
       datetime.date(2021, 6, 21), datetime.date(2021, 6, 22),
       datetime.date(2021, 6, 23), datetime.date(2021, 6, 24),
       datetime.date(2021, 6, 25), datetime.date(2021, 6, 28),
       datetime.date(2021, 6, 29), datetime.date(2021, 6, 30),
       datetime.date(2021, 7, 1), datetime.date(2021, 7, 2),
       datetime.date(2021, 7, 5), datetime.date(2021, 7, 6),
       datetime.date(2021, 7, 7), datetime.date(2021, 7, 8),
       datetime.date(2021, 7, 9), datetime.date(2021, 7, 12),
       datetime.date(2021, 7, 13), datetime.date(2021, 7, 14),
       datetime.date(2021, 7, 15), datetime.date(2021, 7, 16),
       datetime.date(2021, 7, 19), datetime.date(2021, 7, 20)],
      dtype=object)

In [ ]:
print(s1[2])

2021-03-03

In [ ]:
#pd.to_datetime(df.date, format="%Y%m%d%H%M")
print(df['date'].dt.date[0])

2021-03-01

In [ ]:
print(df['date'][0])

2021-03-01 09:15:00+05:30

In [ ]:
s1[0]

datetime.date(2021, 3, 1)

In [ ]:
df_new = pd.DataFrame()
for i in range(len(s1)-1):
    filtered_df = df.loc[(df['date'].dt.date >= s1[i]) & (df['date'].dt.date < s1[i+1])]
    filtered_df = filtered_df.set_index("date")
    t1 = filtered_df.groupby(pd.Grouper(freq='25Min',origin='start')).agg({"open":"first",
                                               "close":"last",
                                               "low":"min",
                                               "high":"max"})
    t1.coulumns = ['open','close','low','high']
    df_new = df_new.append(t1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if __name__ == '__main__':

In [ ]:
df_new.head(20)

                              open    close      low     high
date
2021-03-01 09:15:00+05:30  2110.20  2104.30  2088.80  2111.90
2021-03-01 09:40:00+05:30  2104.30  2099.10  2091.30  2105.60
2021-03-01 10:05:00+05:30  2099.80  2097.00  2087.60  2101.60
2021-03-01 10:30:00+05:30  2097.00  2100.85  2096.55  2108.90
2021-03-01 10:55:00+05:30  2100.85  2102.15  2100.05  2107.00
2021-03-01 11:20:00+05:30  2102.45  2078.50  2077.65  2102.45
2021-03-01 11:45:00+05:30  2078.00  2081.40  2077.30  2087.60
2021-03-01 12:10:00+05:30  2081.00  2066.90  2062.70  2083.80
2021-03-01 12:35:00+05:30  2066.05  2075.65  2064.00  2077.90
2021-03-01 13:00:00+05:30  2075.80  2080.00  2074.30  2085.00
2021-03-01 13:25:00+05:30  2080.00  2085.50  2077.85  2090.00
2021-03-01 13:50:00+05:30  2085.40  2096.40  2080.00  2100.50
2021-03-01 14:15:00+05:30  2097.00  2101.20  2091.60  2103.90
2021-03-01 14:40:00+05:30  2101.20  2097.45  2089.30  2102.00
2021-03-01 15:05:00+05:30  2096.55  2103.05  2095.55  2107.00
2021-03-02 09:15:00+05:30  2122.00  2112.90  2106.00  2122.00
2021-03-02 09:40:00+05:30  2112.50  2127.75  2112.05  2130.00
2021-03-02 10:05:00+05:30  2128.40  2117.60  2116.75  2128.90
2021-03-02 10:30:00+05:30  2117.75  2114.10  2108.60  2119.65
2021-03-02 10:55:00+05:30  2114.00  2102.00  2101.50  2117.00

In [ ]:
i = 0 
filtered_df = df.loc[(df['date'].dt.date >= s1[i]) & (df['date'].dt.date < s1[i+1])]

In [ ]:
filtered_df

                         date     open     high      low    close  volume
0   2021-03-01 09:15:00+05:30  2110.20  2111.90  2093.00  2093.00  258626
1   2021-03-01 09:16:00+05:30  2092.35  2097.85  2088.80  2096.75  120495
2   2021-03-01 09:17:00+05:30  2097.50  2097.50  2091.10  2095.20   60153
3   2021-03-01 09:18:00+05:30  2095.75  2098.80  2095.75  2097.20   35057
4   2021-03-01 09:19:00+05:30  2097.00  2102.15  2096.80  2102.15   40434
..                        ...      ...      ...      ...      ...     ...
370 2021-03-01 15:25:00+05:30  2105.85  2106.20  2103.10  2103.20   81306
371 2021-03-01 15:26:00+05:30  2103.20  2104.85  2103.00  2104.40   59636
372 2021-03-01 15:27:00+05:30  2103.70  2104.90  2103.55  2103.75   85456
373 2021-03-01 15:28:00+05:30  2103.95  2104.00  2102.40  2103.00   72860
374 2021-03-01 15:29:00+05:30  2103.00  2104.95  2102.80  2103.05   45092

[375 rows x 6 columns]

In [ ]:
filtered_df = filtered_df.set_index("date")

In [ ]:
t1 = filtered_df.groupby(pd.Grouper(freq='25Min',origin='start')).agg({"open":"first",
                                               "close":"last",
                                               "low":"min",
                                               "high":"max"})
t1.coulumns = ['open','close','low','high']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [ ]:
t1

                              open    close      low     high
date
2021-03-01 09:15:00+05:30  2110.20  2104.30  2088.80  2111.90
2021-03-01 09:40:00+05:30  2104.30  2099.10  2091.30  2105.60
2021-03-01 10:05:00+05:30  2099.80  2097.00  2087.60  2101.60
2021-03-01 10:30:00+05:30  2097.00  2100.85  2096.55  2108.90
2021-03-01 10:55:00+05:30  2100.85  2102.15  2100.05  2107.00
2021-03-01 11:20:00+05:30  2102.45  2078.50  2077.65  2102.45
2021-03-01 11:45:00+05:30  2078.00  2081.40  2077.30  2087.60
2021-03-01 12:10:00+05:30  2081.00  2066.90  2062.70  2083.80
2021-03-01 12:35:00+05:30  2066.05  2075.65  2064.00  2077.90
2021-03-01 13:00:00+05:30  2075.80  2080.00  2074.30  2085.00
2021-03-01 13:25:00+05:30  2080.00  2085.50  2077.85  2090.00
2021-03-01 13:50:00+05:30  2085.40  2096.40  2080.00  2100.50
2021-03-01 14:15:00+05:30  2097.00  2101.20  2091.60  2103.90
2021-03-01 14:40:00+05:30  2101.20  2097.45  2089.30  2102.00
2021-03-01 15:05:00+05:30  2096.55  2103.05  2095.55  2107.00

In [ ]:
start_day = '09:15:00+05:30'
end_day = '15:29:00+05:30'

In [ ]:
for i

In [ ]:
t1 = df.groupby(pd.Grouper(freq='25Min',origin='start')).agg({"open":"first",
                                               "close":"last",
                                               "low":"min",
                                               "high":"max"})
t1.coulumns = ['open','close','low','high']

ValueError: ignored

In [ ]:
t1

                              open    close      low     high
date
2021-03-01 09:15:00+05:30  2110.20  2104.30  2088.80  2111.90
2021-03-01 09:40:00+05:30  2104.30  2099.10  2091.30  2105.60
2021-03-01 10:05:00+05:30  2099.80  2097.00  2087.60  2101.60
2021-03-01 10:30:00+05:30  2097.00  2100.85  2096.55  2108.90
2021-03-01 10:55:00+05:30  2100.85  2102.15  2100.05  2107.00
...                            ...      ...      ...      ...
2021-07-20 10:15:00+05:30  2102.20  2097.00  2096.15  2102.95
2021-07-20 10:40:00+05:30  2097.00  2097.30  2095.50  2100.00
2021-07-20 11:05:00+05:30  2097.30  2092.25  2085.35  2099.25
2021-07-20 11:30:00+05:30  2092.45  2090.20  2088.15  2094.70
2021-07-20 11:55:00+05:30  2090.10  2087.20  2084.00  2092.00

[8129 rows x 4 columns]

In [ ]:
t1.isna().sum()

open     0
close    0
low      0
high     0
dtype: int64

In [ ]:
t1.dropna(inplace=True)

In [ ]:
t1.head()

                              open    close      low    high
date
2021-03-01 09:15:00+05:30  2110.20  2104.30  2088.80  2111.9
2021-03-01 09:40:00+05:30  2104.30  2099.10  2091.30  2105.6
2021-03-01 10:05:00+05:30  2099.80  2097.00  2087.60  2101.6
2021-03-01 10:30:00+05:30  2097.00  2100.85  2096.55  2108.9
2021-03-01 10:55:00+05:30  2100.85  2102.15  2100.05  2107.0

In [ ]:
t1.to_csv('reliance_25M.csv')

In [ ]:
df

                           date     open     high      low    close  volume
0     2021-03-01 09:15:00+05:30  2110.20  2111.90  2093.00  2093.00  258626
1     2021-03-01 09:16:00+05:30  2092.35  2097.85  2088.80  2096.75  120495
2     2021-03-01 09:17:00+05:30  2097.50  2097.50  2091.10  2095.20   60153
3     2021-03-01 09:18:00+05:30  2095.75  2098.80  2095.75  2097.20   35057
4     2021-03-01 09:19:00+05:30  2097.00  2102.15  2096.80  2102.15   40434
...                         ...      ...      ...      ...      ...     ...
35800 2021-07-20 12:10:00+05:30  2088.40  2088.40  2087.10  2087.15    4951
35801 2021-07-20 12:11:00+05:30  2087.10  2087.70  2085.65  2086.90   19915
35802 2021-07-20 12:12:00+05:30  2086.40  2087.35  2085.25  2085.25    9461
35803 2021-07-20 12:13:00+05:30  2085.05  2086.25  2084.00  2086.25   17818
35804 2021-07-20 12:14:00+05:30  2085.70  2088.00  2085.70  2087.20    4438

[35805 rows x 6 columns]

In [ ]:
df

                            date     open     high      low    close  volume
0      2021-03-01 09:15:00+05:30  2110.20  2111.90  2093.00  2093.00  258626
1      2021-03-01 09:16:00+05:30  2092.35  2097.85  2088.80  2096.75  120495
2      2021-03-01 09:17:00+05:30  2097.50  2097.50  2091.10  2095.20   60153
3      2021-03-01 09:18:00+05:30  2095.75  2098.80  2095.75  2097.20   35057
4      2021-03-01 09:19:00+05:30  2097.00  2102.15  2096.80  2102.15   40434
...                          ...      ...      ...      ...      ...     ...
35800  2021-07-20 12:10:00+05:30  2088.40  2088.40  2087.10  2087.15    4951
35801  2021-07-20 12:11:00+05:30  2087.10  2087.70  2085.65  2086.90   19915
35802  2021-07-20 12:12:00+05:30  2086.40  2087.35  2085.25  2085.25    9461
35803  2021-07-20 12:13:00+05:30  2085.05  2086.25  2084.00  2086.25   17818
35804  2021-07-20 12:14:00+05:30  2085.70  2088.00  2085.70  2087.20    4438

[35805 rows x 6 columns]

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['date'].date.find('2021')